.profile__author{
 height: auto;
 display: block;
}

.profile__author span{
  font-size: 20px;
  width: auto;
  display: block;
  margin-bottom: 0;
}

.profile__author img{
  width: auto;
  float: left;
  margin: 0 50px;
  display: block;
}

@media(max-width: 860px){
 .profile__author{
  padding: 0 5px;
}

.profile__author p{
   clear: both;
 }

.profile__author span,
.profile__author img{
   text-align: center;
   margin: 0 auto;
   float: none;
 }

 }


.article-bottom-post-list{
 padding: 0;
 margin: 0;
}

.article-bottom-post-list li{
  list-style-type: none;
  height: 20px;
  padding: 3px 17px;
  border-bottom: 1px solid #ccc;
}

.article-bottom-post-list li a{
   color: #888;
   width: 100%;
   display: block;
 }

.article-bottom-post-list li:hover{
  color: #000;
  border-left: 15px solid #888;
  padding-left: 2px;
}

article__bottom-info {
 display: block;
}

article__bottom-info h4{
  color: #fff;
  background: #000;
  padding: 5px 20px;
  margin-bottom: 0;
}
