/********** 5色ペン ************************************************************/
pp{
 color: #ff3bb8;
}

oo{
 color: orange;
}

yy{
 color: #FFd600;
}

gg{
 color: rgba(0,200,0,1);
}

bb{
 color: rgba(50,190,255,1);
}

rr{
 color: rgba(255,30,30,1);
}

/********** Other ************************************************************/
.centering{
 display: block;
 text-align: center;
}

.twitter-tweet,
.twitter-moment{
 margin:auto;
}

#archive-title{
 background: #000;
 color: #fff;
 text-align: center;
 height: 60px;
 font-size: 25px;
 line-height: 60px;
}
