#post-table{
 padding-top: 40px;
 clear: both;
}

.post-table-category:first-child{
 border-top: 1px solid #fff;
}

.post-table-category{
 margin: 0 20px;
}

.post-table-category{
 border-bottom: 1px solid #fff;
}

.post-table-category h4{
  margin-bottom: 0;
  color: #999;
  font-size: 14px;
  font-weight: normal;
}

.post-table-category a{
  padding: 2px 0;
  text-decoration: none;
  color: #000;
  line-height: 1;
}

.post-table-category a span{
   margin-top: 10px;
   display: block;
   font-size: 12px;
   line-height: 1.4em;
 }

.post-table-category a span:hover{
   color: #FF6347;
 }

.post-table-category img{
  height: 60px;
  float: left;
  margin-right: 10px;
}

.post-table-category img:hover{
  opacity: 0.5;
}

.post-table-category input{
  display: none;
}

.post-table-category input:checked + ul{
  display: block;
}

  .post-table__li{
   max-height: 80px;
   margin-bottom: 2px;
   padding-right: 2px;
 }

  .post-table__li_label-close{
   text-align: center;
   max-height: 80px;
   margin: 10px;
   padding-right: 2px;
 }

.post-table-category ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

  .post-table__li{
   background: #fff;
 }

  .post-table__li_label-close{
   display: block;
   background: #000;
   text-align: center;
 }

  .post-table__li,
  .post-table__li_label-close{
   margin: 0;
   padding: 0;
   max-height: 0;
   overflow-y: hidden;
   border: none;
   -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -ms-transition: all 0.5s;
   -o-transition: all 0.5s;
   transition: all 0.5s;
 }

.post-table__label_open{
 display: block;
}

.post-table__li_label-close{
 background: none;
 display: block;
}

.post-table__label_open,
.post-table__li_label-close{
 margin: 0 0 2px 0;
 padding: 12px;
 line-height: 1;
 color: #fff;
 cursor: pointer;
 background: #000;
}

 .post-table__label_open span,
 .post-table__li_label-close span{
  float: right;
}

.post-table__label_open:hover,
.post-table__li_label-close:hover{
 background: #444;
}
