<ads-article-bottom-box>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- article-bottom-responcive --><ins class="adsbygoogle"style="display:block"data-ad-client="ca-pub-7336552517082119"data-ad-slot="4994234280"data-ad-format="auto"data-full-width-responsive="true"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</ads-article-bottom-box>

<article__bottom-info>

  <h4>執筆者</h4>
  <div class="profile__author">
    <img src="/assets/img/hoho.png" />
    <span>村上豪一</span>
    <p>理屈人間。お絵描きや作曲などの芸術分野の理論化に挑戦中。独自開発の手法、「透視図法解剖図」「対角線分割法」「お絵描きのメカニズム」など。</p>
  </div> <!-- .profile__author -->

  <ul class="profile__follow-button">

    <li id="button-twitter">
      <a href="https://twitter.com/oekaki_hoho_ron" target="_blank">
        <img src="/assets/img/button-twitter.png" />
        <span>Twitter</span>
      </a>
   </li>

   <li id="button-pixiv">
     <a href="https://www.pixiv.net/member.php?id=28248375" target="_blank">
       <img src="/assets/img/button-pixiv.png" />
       <span>pixiv</span>
     </a>
   </li>

   <li id="button-note">
     <a href="https://note.mu/oekaki_hoho_ron" target="_blank">
       <img src="/assets/img/button-note.png" />
       <span>note</span>
     </a>
   </li>

    <li id="button-soundcloud">
      <a href="https://soundcloud.com/oekaki-hoho-ron" target="_blank">
        <img src="/assets/img/button-soundcloud.png" />
        <span>Soundcloud</span>
      </a>
    </li>

    <li id="button-youtube">
      <a href="https://www.youtube.com/channel/UCe2lNmDXPV1LmIqaFGRnkFg" target="_blank">
        <img src="/assets/img/button-youtube.png" />
        <span>Youtube</span>
      </a>
    </li>

    <li id="button-pinterest">
      <a href="https://www.pinterest.jp/oekaki_hoho_ron/boards/" target="_blank">
        <img src="/assets/img/button-pinterest.png" />
        <span>Pinterest</span>
      </a>
    </li>

    <li id="button-nico">
      <a href="http://www.nicovideo.jp/user/6755076" target="_blank">
        <img src="/assets/img/button-nico.png" />
        <span>ニコニコ動画</span>
      </a>
    </li>

  </ul>

<!--
<div class="archives">

<h4 id="library">アーカイブ</h4>
<ul class="article-bottom-post-list">
  {% for post in site.posts %}
    {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
    {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
    {% if month != nmonth %}
      <li><a href="{{ post.date | date: '%Y' }}-{{ post.date | date: '%m' }}">{{ post.date | date: '%Y' }}年{{ post.date | date: '%m' }}月</a></li>
    {% endif %}
  {% endfor %}
</ul>

<h4>カテゴリー</h4>
{% for category in site.categories %}
  <ul class="article-bottom-post-list">
    {% for posts in category %} {% for post in posts %} {% if post.title != nil %}
      <li><a href="{{ site.baseurl }}{{ category[0] }}">{{ category[0] }}</a></li>
    {% endif %} {% endfor %} {% endfor %}
  </ul>
{% endfor %}


<h4>タグ</h4>
<ul class="article-bottom-post-list">
  {% for tag in site.tags %}
   <li><a href="">{{ tag | first }}</a><li>
 {% endfor %}
</ul>

</div> -->

</article__bottom-info>
