<footer>
<ul>
<li><a href="/post-type/jiyu-kenkyu.html">自由研究</a></li>
<li><a href="/post-type/training.html">トレーニング</a></li>
<li><a href="/post-type/youtube.html">YouTubeチャンネル</a></li>
<li><a href="/post-type/animation.html">アニメ制作</a></li>
</ul>
<small class="centering">Copyright © お絵描きホーホー論</small>
</footer>




<div id="scroll-box">
<div class="popupModal1">
 <input type="radio" name="modalPop" id="pop11" />
 <label for="pop11" id="map-label">MAP</label>
 <input type="radio" name="modalPop" id="pop12" />
 <label for="pop12">CLOSE</label>
 <input type="radio" name="modalPop" id="pop13" />
 <label for="pop13"><!--×--></label>
 <div class="modalPopup2">
  <div class="modalPopup3">
   <div class="modalMain">
	<img id="map-img" src="/assets/img/oekaki-no-mechanism.png" />
   </div>
  </div>
 </div>
</div>
</div><!--#scroll-box-->


<a id="pageTop" href="#">&and; PAGE TOP</a>