<head>

  <!-- 基本設定 -->
  <!--link rel="canonical" href="サイトURL"-->  <!-- コンテンツ内容が重複するページの正規URLを指定する -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <link rel="icon" href="/assets/img/favicon.png">
  <link rel="alternate" type="application/rss+xml" title="フィード" href="フィードページのURL" />  <!-- RSSフィード設定 -->
  <meta name="viewport" content="width=device-width,initial-scale=1">  <!-- 使用端末のディスプレイサイズに最適化するレスポンシブ設定 -->

        <link rel="manifest" href="manifest.json">
<script src="service_worker.js"></script>

  <!-- OGP -->
  <meta property="og:site_name"  content="サイト名" />
  <meta property="og:type" content="ページタイプ" />
  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="ディスクリプション" />
  <meta property="og:image" content="{{ page.thumb }}" />
  <meta name="twitter:card" content="Summary with Large Image" />
  <meta name="twitter:site" content="@oekaki-hoho-ron" />
  <meta property="fb:app_id" content="App ID" />
  <meta property="article:publisher" content="FacebookページのURL" />


  <!-- 外部ファイル -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/imports/sidebar.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/imports/header.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/imports/footer.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/imports/article-bottom-info.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/imports/article.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/imports/google-ads.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/imports/mokuji.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/imports/others.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/imports/page-navi.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/imports/page-top-button.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/imports/post-index.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/imports/post-table.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/imports/sns-button.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/imports/tab-contents.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/imports/top-contents.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/imports/spinner.css">

  <!-- GoogleAdsence -->
  <!-- GoogleAdsence自動広告 --><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><script>(adsbygoogle = window.adsbygoogle || []).push({google_ad_client: "ca-pub-7336552517082119",enable_page_level_ads: true});</script>
  <!-- Global site tag (gtag.js) - Google Analytics --><script async src="https://www.googletagmanager.com/gtag/js?id=UA-30635583-8"></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-30635583-8');</script>
  <!-- ads-in-article自動挿入 -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
	$(document).ready(function() {
		var adsCode = '<ads-in-article-box><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"><\/script><ins class="adsbygoogle"style="display:block; text-align:center;"data-ad-layout="in-article"data-ad-format="fluid"data-ad-client="ca-pub-7336552517082119"data-ad-slot="6117821682"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});<\/script></ads-in-article-box>';
		$("article h2").each(function (i) {
			if(i % 3 == 0 && i > 0 || i == 1){
				$(this).before(adsCode);
			}
		});
	});
　　</script>

</head>
