<div id="post-table">
  {% for category in site.categories %}
  {% capture CATEGORY_NAME %}{{ category | first }}{% endcapture %}
  <div class="post-table-category">



    <label class="open-button" onclick="document.getElementById('{{ CATEGORY_NAME }}').checked = true;">
      {{ CATEGORY_NAME }}
      <span>{{ site.categories[CATEGORY_NAME] | size }}</span>
    </label>
    <input type="checkbox" id="{{ CATEGORY_NAME }}" class="check-box">



    <ul class="accordion-box">

      {% for post in site.categories[CATEGORY_NAME] %}
      <li class="post-table-meta">
        <a href="{{ post.url }}" target="blank">
          <img src="{{ post.thumb }}" />
          <span>{{post.title}}</span>
        </a>
      </li>
      {% endfor %}

      <li class="close-button-box">
        <label class="close-button" onclick="document.getElementById('{{ CATEGORY_NAME }}').checked = false;">∧ CLOSE</label>
      </li>

    </ul>



  </div><!-- .post-table-category -->
  {% endfor %}
</div> <!-- #post-table -->
