<div class="share-buttons">
  <script type="text/javascript">(function(d){if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_52708f535f08e25625d3b79233c81896)=='undefined'){document.write("<sc"+"ript type='text\/javascript' src='\/\/omt.shinobi.jp\/b\/52708f535f08e25625d3b79233c81896'><\/sc"+"ript>");}else{window.NINJA_CO_JP_ONETAG_BUTTON_52708f535f08e25625d3b79233c81896.ONETAGButton_Load();}})(document);//]]></script>
  <span class="ninja_onebutton_hidden" style="display:none;">{{ page.url }}</span>
  <span style="display:none;" class="ninja_onebutton_hidden">{{ page.title }}</span>
</div> <!-- .share-buttons -->