<tab-box1>

{% for post in site.posts %}

<post-index>
<a href="{{ post.url | relative_url }}"><img src="{{ post.thumb }}" /></a>
<post-index-meta>
<h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
<ul>
<li class="post-date">{{ post.date | date: '%Y年%m月%d日' }}</li>
<li class="category">Category <a href="/category/diary.html">カテゴリ名</a></li>
<li class="tags">Tags タグ名</li>
</ul>
</post-index-meta>
</post-index>
{% endfor %}

<a class="roop-navi" href="/archive/all.html">もっと読む　　&gt;</a>
</tab-box1>