<tab-box2>

<post-index>
  <a href="https://youtu.be/Qwj_hCe9tgA" target="blank"><img src="assets/img/external-content/20161118.png" /></a>
  <post-index-meta>
    <h2><a href="https://youtu.be/Qwj_hCe9tgA" target="blank">AfterEffectsの3Dレイヤーで2点透視の絵を3点透視に変換</a></h2>
    <ul>
      <li class="post-date">2016年11月18日</li>
      <!--<li class="category">Category <a href="/category/diary.html">{{ post.categories }}</a></li>
      <li class="tags">Tag <a href="">{{ post.tags }}</a></li>-->
      <li class="category">Category -</li>
      <li class="tags">Tag -</li>
    </ul>
  </post-index-meta>
</post-index>

<post-index>
  <a href="https://soundcloud.com/oekaki-hoho-ron/yyazuxsthyno" target="blank"><img src="assets/img/external-content/20160507.png" /></a>
  <post-index-meta>
    <h2><a href="https://soundcloud.com/oekaki-hoho-ron/yyazuxsthyno" target="blank">オリジナル音源『よりみち』</a></h2>
    <ul>
      <li class="post-date">2016年5月7日</li>
      <!--<li class="category">Category <a href="/category/diary.html">{{ post.categories }}</a></li>
      <li class="tags">Tag <a href="">{{ post.tags }}</a></li>-->
      <li class="category">Category -</li>
      <li class="tags">Tag -</li>
    </ul>
  </post-index-meta>
</post-index>


<post-index>
  <a href="https://store.line.me/stickershop/product/1871378" target="blank"><img src="assets/img/external-content/20160101.png" /></a>
  <post-index-meta>
    <h2><a href="https://store.line.me/stickershop/product/1871378" target="blank">LINEスタンプ『イキナンの挨拶』</a></h2>
    <ul>
      <li class="post-date">2016年1月1日</li>
      <!--<li class="category">Category <a href="/category/diary.html">{{ post.categories }}</a></li>
      <li class="tags">Tag <a href="">{{ post.tags }}</a></li>-->
      <li class="category">Category -</li>
      <li class="tags">Tag -</li>
    </ul>
  </post-index-meta>
</post-index>


<post-index>
  <a href="https://youtu.be/-3G4YToBVmQ" target="blank"><img src="assets/img/external-content/20140528.png" /></a>
  <post-index-meta>
    <h2><a href="https://youtu.be/-3G4YToBVmQ" target="blank">2013年自主制作アニメ『もぐらたたき組曲』制作日記</a></h2>
    <ul>
      <li class="post-date">2014年5月28日</li>
      <!--<li class="category">Category <a href="/category/diary.html">{{ post.categories }}</a></li>
      <li class="tags">Tag <a href="">{{ post.tags }}</a></li>-->
      <li class="category">Category -</li>
      <li class="tags">Tag -</li>
    </ul>
  </post-index-meta>
</post-index>


<post-index>
  <a href="https://youtu.be/OOKT-GKFE8o" target="blank"><img src="assets/img/external-content/20140527.png" /></a>
  <post-index-meta>
    <h2><a href="https://youtu.be/OOKT-GKFE8o" target="blank">2012年自主制作アニメ『もぐらたたき行進曲』制作日記</a></h2>
    <ul>
      <li class="post-date">2014年5月27日</li>
      <!--<li class="category">Category <a href="/category/diary.html">{{ post.categories }}</a></li>
      <li class="tags">Tag <a href="">{{ post.tags }}</a></li>-->
      <li class="category">Category -</li>
      <li class="tags">Tag -</li>
    </ul>
  </post-index-meta>
</post-index>


<post-index>
  <a href="https://youtu.be/m_p4WiWSnQQ" target="blank"><img src="assets/img/external-content/20140526.png" /></a>
  <post-index-meta>
    <h2><a href="https://youtu.be/m_p4WiWSnQQ" target="blank">いろいろな球体が落下するアニメーション</a></h2>
    <ul>
      <li class="post-date">2014年5月26日</li>
      <!--<li class="category">Category <a href="/category/diary.html">{{ post.categories }}</a></li>
      <li class="tags">Tag <a href="">{{ post.tags }}</a></li>-->
      <li class="category">Category -</li>
      <li class="tags">Tag -</li>
    </ul>
  </post-index-meta>
</post-index>


<post-index>
  <a href="https://youtu.be/xn9XuYoKaxY" target="blank"><img src="assets/img/external-content/20140425.png" /></a>
  <post-index-meta>
    <h2><a href="https://youtu.be/xn9XuYoKaxY" target="blank">二点透視を2つ重ねて三点透視を作図する手順</a></h2>
    <ul>
      <li class="post-date">2014年4月25日</li>
      <!--<li class="category">Category <a href="/category/diary.html">{{ post.categories }}</a></li>
      <li class="tags">Tag <a href="">{{ post.tags }}</a></li>-->
      <li class="category">Category -</li>
      <li class="tags">Tag -</li>
    </ul>
  </post-index-meta>
</post-index>


<post-index>
  <a href="https://youtu.be/xn9XuYoKaxY" target="blank"><img src="assets/img/external-content/20140424.png" /></a>
  <post-index-meta>
    <h2><a href="https://youtu.be/xn9XuYoKaxY" target="blank">二点透視を2つ重ねて三点透視を作図する手順</a></h2>
    <ul>
      <li class="post-date">2014年4月24日</li>
      <!--<li class="category">Category <a href="/category/diary.html">{{ post.categories }}</a></li>
      <li class="tags">Tag <a href="">{{ post.tags }}</a></li>-->
      <li class="category">Category -</li>
      <li class="tags">Tag -</li>
    </ul>
  </post-index-meta>
</post-index>


<post-index>
  <a href="https://youtu.be/k9WPgVWh7aY" target="blank"><img src="assets/img/external-content/20140423.png" /></a>
  <post-index-meta>
    <h2><a href="https://youtu.be/k9WPgVWh7aY" target="blank">建築パースの二点透視図法　〜奥行きパースの基準となるGLの作図〜</a></h2>
    <ul>
      <li class="post-date">2014年4月23日</li>
      <!--<li class="category">Category <a href="/category/diary.html">{{ post.categories }}</a></li>
      <li class="tags">Tag <a href="">{{ post.tags }}</a></li>-->
      <li class="category">Category -</li>
      <li class="tags">Tag -</li>
    </ul>
  </post-index-meta>
</post-index>


<post-index>
  <a href="https://youtu.be/4V1iNvHXR1o" target="blank"><img src="assets/img/external-content/20140422.png" /></a>
  <post-index-meta>
    <h2><a href="https://youtu.be/4V1iNvHXR1o" target="blank">建築パースの二点透視図法　〜底面から立方体を作図する手順〜</a></h2>
    <ul>
      <li class="post-date">2014年4月22日</li>
      <!--<li class="category">Category <a href="/category/diary.html">{{ post.categories }}</a></li>
      <li class="tags">Tag <a href="">{{ post.tags }}</a></li>-->
      <li class="category">Category -</li>
      <li class="tags">Tag -</li>
    </ul>
  </post-index-meta>
</post-index>


</tab-box2>
