<top-contents>

<a class="top-box1" href="https://note.mu/oekaki_hoho_ron/n/nf95d8a4e4be9?magazine_key=m86f7171d02cc" target="_blank">
  <img class="top-contents-obi" src="/assets/img/top-contents-obi-hitsudoku.png" />
  <img class="top-contents-thumbnail" src="/assets/img/2019-07-18/02.png" />
  <h2>お絵描きのメカニズム ver1.11 【入門編】</h2>
</a>

<a class="top-box2" href="/mechanism-of-drawing-3">
  <img class="top-contents-obi" src="/assets/img/top-contents-obi-osusume.png" />
  <img class="top-contents-thumbnail" src="/assets/img/2019-07-08/00.png" />
  <h2>お絵描きのメカニズム　第3巻　〜知識のカテゴライズ〜 </h2>
</a>

<a class="top-box2" href="/introduction-to-diagonal-division-method/">
  <img class="top-contents-obi" src="/assets/img/top-contents-obi-osusume.png" />
  <img class="top-contents-thumbnail" src="/assets/img/2018-01-16/00.png" />
  <h2>対角線分割法 概論　〜透視図法の空間を対角線で測るアイデア集〜</h2>
</a>

</top-contents>
