<top-contents>

<a class="top-box1" href="_posts/mechanism-of-drawing-2/index.html">
  <img class="top-contents-obi" src="/assets/img/top-contents-obi-new.png" />
  <img class="top-contents-thumbnail" src="/assets/img/2018-06-11/00.png" />
  <h2>お絵描きのメカニズム　第2巻　〜感覚で描く絵、理屈で描く絵〜 </h2>
</a>

<a class="top-box2" href="_posts/depth-reduction-and-compression/index.html">
  <img class="top-contents-obi" src="/assets/img/top-contents-obi-hitsudoku.png" />
  <img class="top-contents-thumbnail" src="/assets/img/2017-12-25/00.png" />
  <h2>ユアッサーの法則の画角メーターで学ぶ奥行きの「縮小」と「圧縮」</h2>
</a>

<a class="top-box2" href="_posts/introduction-to-diagonal-division-method/index.html">
  <img class="top-contents-obi" src="/assets/img/top-contents-obi-osusume.png" />
  <img class="top-contents-thumbnail" src="/assets/img/2018-01-16/00.png" />
  <h2>対角線分割法 概論　〜透視図法の空間を対角線で測るアイデア集〜</h2>
</a>

</top-contents>
