
</div><!-- .post-table-category -->
<label for="post-table00">このサイトについて<span>0</span></label> <input type="checkbox" id="post-table00" class="accordion" />
<ul>
</ul>
</div><!-- .post-table-category -->


<div class="post-table-category">
<h4>スケッチの研究　〜シルエット〜</h4>

<label for="post-table01">お絵描きのメカニズム<span>7</span></label> <input type="checkbox" id="post-table01" class="accordion" />
<ul>
<li><a href="/mechanism-of-drawing-2/index.html" target="_blank"><img src="/mechanism-of-drawing-2/00.png" /><span>お絵描きのメカニズム　第2巻　〜感覚で描く絵、理屈で描く絵〜</span></a></li>
<li><a href="/mechanism-of-drawing-1/index.html" target="_blank"><img src="/mechanism-of-drawing-1/00.png" /><span>お絵描きのメカニズム　第1巻　〜絵は才能でなく根気で描ける〜</span></a></li>
<li><a href="/sketch-of-the-pokemon-with-ambiguous-storage2/index.html" target="_blank"><img src="/sketch-of-the-pokemon-with-ambiguous-storage2/00.png" /><span>うろ覚えポケモンかけるかな？　〜第2フェイズ「脳内イメージの再現」〜</span></a></li>
<li><a href="/sketch-of-the-pokemon-with-ambiguous-storage/index.html" target="_blank"><img src="/sketch-of-the-pokemon-with-ambiguous-storage/00.png" /><span>うろ覚えポケモンかけるかな？　〜第1フェイズ「うろ覚え」〜</span></a></li>
<li><a href="/human-body-sketch-theorization-plan-1/index.html" target="_blank"><img src="/human-body-sketch-theorization-plan-1/00.png" /><span>人体デッサン理論化計画・序　〜シルエットで捉える描き方の意味考える〜</span></a></li>
<li><a href="/not-drawing-draft-human-body-sketch/index.html" target="_blank"><img src="/not-drawing-draft-human-body-sketch/00.png" /><span>アタリ線を描かないデッサン</span></a></li>
<li><a href="/right-brain-and-left-brain/index.html" target="_blank"><img src="/right-brain-and-left-brain/00.png" /><span>右脳・左脳で使い分ける人体デッサンのアタリ線の描き方</span></a></li>
<li><a href="/how-to-draw-makes-sketch-stabilize/index.html" target="_blank"><img src="/how-to-draw-makes-sketch-stabilize/00.png" /><span>人体デッサンを安定させるアタリ線の描き方</span></a></li>
<li><a href="/draft-of-sketch-habit-conversion/index.html" target="_blank"><img src="/draft-of-sketch-habit-conversion/00.png" /><span>安定して人体デッサンするためのアタリ線の習慣化</span></a></li>
</ul>

<label for="post-table02">人物画<span>7</span></label> <input type="checkbox" id="post-table02" class="accordion" />
<ul>
<li><a href="/center-of-gravity-of-human-body-sketch/index.html" target="_blank"><img src="/center-of-gravity-of-human-body-sketch/00.png" /><span>絵描きが言う人体デッサンの「重心」が厳密には間違っている件</span></a></li>
<li><a href="/memorization-manner-of-anatomy/index.html" target="_blank"><img src="/memorization-manner-of-anatomy/00.png" /><span>解体新書　~人体デッサンの解剖学における筋肉の暗記術~</span></a></li>
<li><a href="/the-human-body-sketch-which-makes-time-lapse-feel/index.html" target="_blank"><img src="/the-human-body-sketch-which-makes-time-lapse-feel/00.png" /><span>前後の時間を感じさせる人体デッサン</span></a></li>
<li><a href="/individual-character-design/index.html" target="_blank"><img src="/individual-character-design/00.png" /><span>オリジナルキャラの絵柄を獲得することについて</span></a></li>
<li><a href="/relation-of-beautiful-hair-and-qualia/index.html" target="_blank"><img src="/relation-of-beautiful-hair-and-qualia/00.png" /><span>髪の描き方と、美しい髪というクオリアの関連性</span></a></li>
<li><a href="/how-to-draw-the-hair/index.html" target="_blank"><img src="/how-to-draw-the-hair/00.png" /><span>ヘアカットとデッサンを関連づけて考える髪の描き方</span></a></li>
<li><a href="/mechanism-of-wrinkle-of-clothes/index.html" target="_blank"><img src="/mechanism-of-wrinkle-of-clothes/00.png" /><span>力学的な観点による、服のシワができる原理の仮説</span></a></li>
</ul>

<label for="post-table03">アニメ作画<span>0</span></label> <input type="checkbox" id="post-table03" class="accordion" />
<ul>
</ul>

<label for="post-table04">風景画<span>0</span></label> <input type="checkbox" id="post-table04" class="accordion" />
<ul>
</ul>

<label for="post-table05">透視図法<span>15</span></label> <input type="checkbox" id="post-table05" class="accordion" />
<ul>
<li><a href="/introduction-to-diagonal-division-method/index.html" target="_blank"><img src="/introduction-to-diagonal-division-method/00.png" /><span>対角線分割法 概論　〜透視図法の空間を対角線で測るアイデア集〜</span></a></li>
<li><a href="/depth-reduction-and-compression/index.html" target="_blank"><img src="/depth-reduction-and-compression/00.png" /><span>ユアッサーの法則の画角メーターで学ぶ奥行きの「縮小」と「圧縮」</span></a></li>
<li><a href="/principle-decoding-of-measuring-point-method/index.html" target="_blank"><img src="/principle-decoding-of-measuring-point-method/00.png" /><span>ありそうでなかったM点法の原理解説　〜地平線に隠された秘密〜</span></a></li>
<li><a href="/device-of-diagonal-split-graph-technique/index.html" target="_blank"><img src="/device-of-diagonal-split-graph-technique/00.png" /><span>透視図法の基本原理「対角線分割法」誕生の軌跡　〜3次元を2次元に変換する仕組み〜</span></a></li>
<li><a href="/anatomical-chart-of-3point-perspective/index.html" target="_blank"><img src="/anatomical-chart-of-3point-perspective/00.png" /><span>3点透視図法の解剖図　〜なぜ4点ではなく3点なのか〜</span></a></li>
<li><a href="/anatomical-chart-of-perspective/index.html" target="_blank"><img src="/anatomical-chart-of-perspective/00.png" /><span>パース理論の完全形態「透視図法解剖図」</span></a></li>
<li><a href="/measuring-point-utilization-plan/index.html" target="_blank"><img src="/measuring-point-utilization-plan/00.png" /><span>「M点法」実用化計画　〜縮図で奥行きの長さを作図〜</span></a></li>
<li><a href="/prerequisite-of-perspective/index.html" target="_blank"><img src="/prerequisite-of-perspective/00.png" /><span>透視図法の知られざる大前提　〜実は市販のパース理論書の教えは間違っていた〜</span></a></li>
<li><a href="/law-of-vertical-perspective/index.html" target="_blank"><img src="/law-of-vertical-perspective/00.png" /><span>三点透視図法の縦パース講座（2/3）　〜縦パースの傾きの法則〜</span></a></li>
<li><a href="/how-to-think-the-vertical-perspective/index.html" target="_blank"><img src="/how-to-think-the-vertical-perspective/00.png" /><span>三点透視図法の縦パース講座（1/3） 〜縦パース作図における2つのポイント〜</span></a></li>
<li><a href="/3point-perspective-which-used-the-viewing-cone/index.html" target="_blank"><img src="/3point-perspective-which-used-the-viewing-cone/00.png" /><span>2つの視円錐を重ねて三点透視パース作画　〜建築パースとリアルパースの違い〜</span></a></li>
<li><a href="/supplementary-lessons-of-perspective-theory/index.html" target="_blank"><img src="/supplementary-lessons-of-perspective-theory/00.png" /><span>建築パース理論補講　〜2点透視を2つ重ねると3点透視になる〜</span></a></li>
<li><a href="/how-to-draw-the-fish-eye-perspective/index.html" target="_blank"><img src="/how-to-draw-the-fish-eye-perspective/00.png" /><span>魚でも分かる魚眼パースの描き方講座　〜魚眼レンズのしくみ〜</span></a></li>
<li><a href="/device-of-perspective-ruler/index.html" target="_blank"><img src="/device-of-perspective-ruler/00.png" /><span>一瞬で背景イラストのアングルと画角を決めるパースの描き方</span></a></li>
<li><a href="/viewing-cone-and-perspective/index.html" target="_blank"><img src="/viewing-cone-and-perspective/00.png" /><span>視円錐を使って考える望遠パース・広角パースの描き方</span></a></li>
<li><a href="/drawing-procedure-of-construction-perspective/index.html" target="_blank"><img src="/drawing-procedure-of-construction-perspective/00.png" /><span>建築パースを徹底研究！パース理論の基礎知識と描き方</span></a></li>
<li><a href="/basic-knowledge-of-perspective-theory/index.html" target="_blank"><img src="/basic-knowledge-of-perspective-theory/00.png" /><span>パース理論の予備知識</span></a></li>
</ul>
</div><!-- .post-table-category -->


<div class="post-table-category">
<h4>塗り絵の研究　〜シェーディング〜</h4>

<label for="post-table06">色彩理論<span>2</span></label> <input type="checkbox" id="post-table06" class="accordion" />
<ul>
<li><a href="/harmony-of-color-scheme/index.html" target="_blank"><img src="/harmony-of-color-scheme/00.png" /><span>デジタルイラストの色を調和させる配色パターン</span></a></li>
<li><a href="/color-scheme-theoretical-outline/index.html" target="_blank"><img src="/color-scheme-theoretical-outline/00.png" /><span>デジタルイラストを描くための色彩理論概論</span></a></li>
</ul>

<label for="post-table07">アナログ着色<span>0</span></label> <input type="checkbox" id="post-table07" class="accordion" />
<ul>
</ul>

<label for="post-table08">デジタル着色<span>1</span></label> <input type="checkbox" id="post-table08" class="accordion" />
<ul>
<li><a href="/how-to-use-the-layer-blending-mode/index.html" target="_blank"><img src="/how-to-use-the-layer-blending-mode/00.png" /><span>デジタルイラストで使うレイヤーの描画モードの効果を画像で検証</span></a></li>
</ul>

<label for="post-table09">色彩デザイン<span>0</span></label> <input type="checkbox" id="post-table09" class="accordion" />
<ul>
</ul>
</div><!-- .post-table-category -->


<div class="post-table-category">
<h4>面白くする研究　〜エンターテイメント〜</h4>

<label for="post-table10">シナリオ<span>2</span></label> <input type="checkbox" id="post-table10" class="accordion" />
<ul>
<li><a href="/script-of-animation-mole-hitting-suite/index.html" target="_blank"><img src="/script-of-animation-mole-hitting-suite/00.png" /><span>自主制作アニメ『もぐらたたき組曲』のシナリオの変更点</span></a></li>
<li><a href="/conception-of-animation-mole-hitting-suite/index.html" target="_blank"><img src="/conception-of-animation-mole-hitting-suite/00.png" /><span>現在制作中の『もぐらたたき組曲』でやりたいこと</span></a></li>
</ul>

<label for="post-table11">絵コンテ・ネーム<span>0</span></label> <input type="checkbox" id="post-table11" class="accordion" />
<ul>
</ul>

<label for="post-table12">演出<span>0</span></label> <input type="checkbox" id="post-table12" class="accordion" />
<ul>
</ul>

<label for="post-table13">画面レイアウト<span>0</span></label> <input type="checkbox" id="post-table13" class="accordion" />
<ul>
</ul>
</div><!-- .post-table-category -->


<div class="post-table-category">
<h4>映像制作の研究　〜テクノロジー〜</h4>

<label for="post-table14">デジタル撮影・CG効果<span>0</span></label> <input type="checkbox" id="post-table14" class="accordion" />
<ul>
</ul>

<label for="post-table15">3DCG<span>0</span></label> <input type="checkbox" id="post-table15" class="accordion" />
<ul>
</ul>
</div><!-- .post-table-category -->


<div class="post-table-category">
<h4>音と映像の研究　〜アンビエント〜</h4>

<label for="post-table16">音楽<span>0</span></label> <input type="checkbox" id="post-table16" class="accordion" />
<ul>
</ul>

<label for="post-table17">BGM<span>0</span></label> <input type="checkbox" id="post-table17" class="accordion" />
<ul>
</ul>

<label for="post-table20">効果音・環境音<span>0</span></label> <input type="checkbox" id="post-table20" class="accordion" />
<ul>
</ul>

<label for="post-table18">アフレコ・声優<span>0</span></label> <input type="checkbox" id="post-table18" class="accordion" />
<ul>
</ul>
</div><!-- .post-table-category -->


<div class="post-table-category">
<h4>その他の研究</h4>

<label for="post-table19">画材・ハードウェア<span>2</span></label> <input type="checkbox" id="post-table19" class="accordion" />
<ul>
<li><a href="/pen-tablet-introduction/index.html" target="_blank"><img src="/pen-tablet-introduction/00.png" /><span>wacomペンタブレットのスペック解説　〜この数値どういう意味？編〜</span></a></li>
<li><a href="/proper-use-of-thickness-of-drawing-streak/index.html" target="_blank"><img src="/proper-use-of-thickness-of-drawing-streak/00.png" /><span>描画線の太さによる練習効果の違い</span></a></li>
</ul>

<label for="post-table20">ソフトウェア・アプリ<span>0</span></label> <input type="checkbox" id="post-table20" class="accordion" />
<ul>
</ul>

<label for="post-table21">書籍<span>0</span></label> <input type="checkbox" id="post-table21" class="accordion" />
<ul>
</ul>

<label for="post-table22">精神分析・脳科学<span>2</span></label> <input type="checkbox" id="post-table22" class="accordion" />
<ul>
<li><a href="/evasion-manner-of-preconception/index.html" target="_blank"><img src="/evasion-manner-of-preconception/00.png" /><span>正しい記憶の隙間に宿る、誤った先入観の見つけ方</span></a></li>
<li><a href="/preconception/index.html" target="_blank"><img src="/preconception/00.png" /><span>先入観と仲良くしながら絵を描こう</span></a></li>
</ul>

<label for="post-table23">日記<span>5</span></label> <input type="checkbox" id="post-table23" class="accordion" />
<ul>
<li><a href="/establishing-the-private-studio/index.html" target="_blank"><img src="/establishing-the-private-studio/00.png" /><span>自主制作アニメ「STUDIO hoho」設立のお知らせ</span></a></li>
<li><a href="/transition-of-web-server/index.html" target="_blank"><img src="/transition-of-web-server/00.png" /><span>サーバー引っ越して気分爽快！</span></a></li>
<li><a href="/modification-to-simple-policy/index.html" target="_blank"><img src="/modification-to-simple-policy/00.png" /><span>お絵描き再始動、シンプルに方針変更</span></a></li>
<li><a href="/idle-talk/index.html" target="_blank"><img src="/idle-talk/00.png" /><span>人物画のアタリ線の研究に時間を費やす意義について考えた事</span></a></li>
<li><a href="/failure-of-a-certain-beginner/index.html" target="_blank"><img src="/failure-of-a-certain-beginner/00.png" /><span>ある初心者の失敗</span></a></li>
</ul>
</div><!-- .post-table-category -->

</div>

























<!-- js導入思考錯誤
<script>
function(){
  var CHECKING = document.getElementById("CATEGORY_NAME").style.checked;
  CHECKING.style.checked = "checked";
}
</script>




<script type="text/javascript" language="javascript">
  function OnLabelClick() {
    CHECKING = document.getElementByIdCATEGORY_NAME.checked;
    if (CHECKING == true) {
      inputElement.style.checked = "checked";
    }
    else {
    }
  }
</script>



<div id="post-table">
    {% for category in site.categories %}
    {% capture CATEGORY_NAME %}{{ category | first }}{% endcapture %}
    <div class="post-table-category">
      <h4></script>>フェイズ</h4>

      <label onclick="inputElement.style.checked = "checked";">
        {{ CATEGORY_NAME }}<span>{{ site.categories[CATEGORY_NAME] | size }}</span>
      </label>
      <input type="checkbox" class="accordion" />

      <ul>
        {% for post in site.categories[CATEGORY_NAME] %}
          <li><a href="{{ post.url }}" target="_blank"><img src="{{ post.thumb }}" /><span>{{post.title}}</span></a></li>
        {% endfor %}
      </ul>
    </div><!-- .post-table-category -->
  {% endfor %}
</div> <!-- #post-table -->

<div id="OUTPUT"></div>


var inputElement = document.getElementById( "CATEGORY_NAME" );
inputElement.style.checked = "checked";
-->











<!-- メイン
<div id="post-table">
    {% for category in site.categories %}
    {% capture CATEGORY_NAME %}{{ category | first }}{% endcapture %}
    <div class="post-table-category">
      <h4>フェイズ</h4>
      <label for="post-table00">{{ CATEGORY_NAME }}<span>{{ site.categories[CATEGORY_NAME] | size }}</span></label>
      <input type="checkbox" id="post-table00" class="accordion" />
      <ul>
        {% for post in site.categories[CATEGORY_NAME] %}
          <li><a href="{{ post.url }}" target="_blank"><img src="{{ post.thumb }}" /><span>{{post.title}}</span></a></li>
        {% endfor %}
      </ul>
    </div><!-- .post-table-category -->
  {% endfor %}
</div> <!-- #post-table -->
-->


