<post-index>
<a href="/relation-of-beautiful-hair-and-qualia/index.html"><img src="/relation-of-beautiful-hair-and-qualia/00.png" /></a>
<post-index-meta>
<h2><a href="/relation-of-beautiful-hair-and-qualia/index.html">髪の描き方と、美しい髪というクオリアの関連性</a></h2>
<ul>
<li class="post-date">2013年4月7日</li>
<li class="category">Category <a href="/category/portrait.html">人物画</a></li>
<li class="tags">Tags  <a href="/tag/qualia.html">クオリア</a>・<a href="/tag/hair-drawing.html">髪デッサン</a></li>
</ul>
</post-index-meta>
</post-index>