<post-index>
<a href="/how-to-use-the-layer-blending-mode/index.html"><img src="/how-to-use-the-layer-blending-mode/00.png" /></a>
<post-index-meta>
<h2><a href="/how-to-use-the-layer-blending-mode/index.html">デジタルイラストで使うレイヤーの描画モードの効果を画像で検証</a></h2>
<ul>
<li class="post-date">2013年9月1日</li>
<li class="category">Category <a href="/category/digital-coloring.html">デジタル着色</a></li>
<li class="tags">Tags  <a href="/tag/layer-composite-mode.html">レイヤー描画モード</a></li>
</ul>
</post-index-meta>
</post-index>