<post-index>
<a href="/anatomical-chart-of-3point-perspective/index.html"><img src="/anatomical-chart-of-3point-perspective/00.png" /></a>
<post-index-meta>
<h2><a href="/anatomical-chart-of-3point-perspective/index.html">3点透視図法の解剖図　〜なぜ4点ではなく3点なのか〜</a></h2>
<ul>
<li class="post-date">2016年12月6日</li>
<li class="category">Category <a href="/category/perspective.html">透視図法</a></li>
<li class="tags">Tags  <a href="/tag/fish-eye-perspective.html">魚眼パース</a>・<a href="/tag/3point-perspective.html">3点透視図法</a>・<a href="/tag/anatomical-chart-of-perspective-tag.html">透視図法解剖図</a></li>
</ul>
</post-index-meta>
</post-index>