<post-index>
<a href="/sketch-of-the-pokemon-with-ambiguous-storage/index.html"><img src="/sketch-of-the-pokemon-with-ambiguous-storage/00.png" /></a>
<post-index-meta>
<h2><a href="/sketch-of-the-pokemon-with-ambiguous-storage/index.html">うろ覚えポケモンかけるかな？　〜第1フェイズ「うろ覚え」〜</a></h2>
<ul>
<li class="post-date">2017年6月11日</li>
<li class="category">Category <a href="/category/mechanism.html">お絵描きのメカニズム</a></li>
<li class="tags">Tags  <a href="/tag/ambiguous-storage.html">うろ覚えスケッチ</a></li>
</ul>
</post-index-meta>
</post-index>