<!DOCTYPE html><html lang="utf-8" >
{% include head.html %}
<body>
  {% include header.html %}
  <container>
    <main>
      {% include sidebar.html %}
      <contents>
        {% include top-contents.html %}
        <tab-contents>
          <input id="tab1" type="radio" name="tab" checked>
          <label for="tab1" id="tab1-label">新着記事</label>
          <input id="tab2" type="radio" name="tab">
          <label for="tab2" id="tab2-label">人気記事</label>
          <input id="tab3" type="radio" name="tab">
          <label for="tab3" id="tab3-label">外部コンテンツ</label>
          <tab-box>
            {{ content }}
            {% include tab-box2.html %}
            {% include tab-box3.html %}
          </tab-box>
        </tab-contents>
        <article>
          {% include article-bottom-info.html %}
        </article>
        {% include footer.html %}
      </contents>
    </main>
  </container>
</body>
</html>
