<!DOCTYPE html><html lang="utf-8" >

{% include head.html %}
{% include header.html %}

<body>
  
  <container>
    <main>
      <input type="checkbox" id="sidebar-open-input" />
      {% include sidebar.html %}

      <article>
        <h1>{{ page.title }}</h1>
        <ul class="article-meta">
          <li class="post-date">{{ page.date | date: '%Y年%m月%d日' }}</li>
          <li class="category">Category <a href="{{ site.baseurl }}/tags#{{ tag | slugize }}">{{ page.categories }}</a></li>
          <li class="tag">Tag {% if post %}{% assign tags = post.tags %}{% else %}{% assign tags = page.tags %}{% endif %}{% for tag in tags %}<a href="_posts/tags/{{ tag }}">{{ tag }} </a>{% endfor %}</li>
        </ul> <!-- .article-meta -->
        <img src="{{ page.thumb }}" alt="{{ post.title }}" />

        <div class="ninja_onebutton">
          <script type="text/javascript">(function(d){if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_52708f535f08e25625d3b79233c81896)=='undefined'){document.write("<sc"+"ript type='text\/javascript' src='\/\/omt.shinobi.jp\/b\/52708f535f08e25625d3b79233c81896'><\/sc"+"ript>");}else{window.NINJA_CO_JP_ONETAG_BUTTON_52708f535f08e25625d3b79233c81896.ONETAGButton_Load();}})(document);//]]></script>
          <span class="ninja_onebutton_hidden" style="display:none;">{{ post.url }}</span>
          <span style="display:none;" class="ninja_onebutton_hidden">{{ post.title }}</span>
        </div> <!-- .ninja_onebutton" -->

        {% include ads-article-top.html %}

        <div class="entry-content">
          <mokuji></mokuji> <!-- 目次のcssのセレクタ基準用 -->
          {{ content }}
        </div> <!-- .entry-content -->


        <div class="ninja_onebutton">
          <script type="text/javascript">(function(d){if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_52708f535f08e25625d3b79233c81896)=='undefined'){document.write("<sc"+"ript type='text\/javascript' src='\/\/omt.shinobi.jp\/b\/52708f535f08e25625d3b79233c81896'><\/sc"+"ript>");}else{window.NINJA_CO_JP_ONETAG_BUTTON_52708f535f08e25625d3b79233c81896.ONETAGButton_Load();}})(document);//]]></script>
          <span class="ninja_onebutton_hidden" style="display:none;">{{ post.url }}</span>
          <span style="display:none;" class="ninja_onebutton_hidden">{{ post.title }}</span>
        </div> <!-- .ninja_onebutton" -->


        <div id="page-navi">
          {% if page.next %}
            <a id="page-navi-new" href="{{ page.next.url }}">次の記事</a>
          {% endif %}

          {% if page.previous %}
            <a id="page-navi-old" href="{{ page.previous.url }}">前の記事</a>
          {% endif %}
        </div> <!-- #page-navi -->


        {% include article-bottom-info.html %}
      </article>

      {% include footer.html %}
    </main>
  </container>

</body>
</html>